@model IEnumerable<ExamOnline.Models.Exam>

@{
    ViewBag.Title = "Index";
}


<div class="jumbotron">


    <h4>Select Exam</h4>
    <div class="form-group" id="DropDown">

        <div class="col-md-10">

            @Html.DropDownList("ExamID", new SelectList(Model, "ID", "ExamName" ) ,new { @class = "form-control " } )

        </div>
    </div>


</div>

<div class="container" id="ExamContent">

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('body').on('change click', '#ExamID', function () {

            var SelectedID = $('#ExamID option:selected').val();

            $.ajax(
                {
                    type: "POST",
                    url: "/Exams/Details/" + SelectedID,

                    dataType: "html",
                    success: function (data) {
                        $('#ExamContent').html(data);
                    },
                    error: function (e) {
                        alert('Error: ' + e);
                    }
                });

        });
    </script>
}




